<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="b13 TYPO3 HTTP2 Test Suite">
            <directory>Tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">Classes/</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="tap" target="Build/report.tap"/>
        <log type="junit" target="Build/report.junit.xml"/>
        <log type="coverage-html" target="Build/coverage"/>
        <log type="coverage-text" target="Build/coverage.txt"/>
        <log type="coverage-clover" target="Build/logs/clover.xml"/>
    </logging>
</phpunit>
